/*过滤表格头部*/
.filter_data_head {
  line-height: 18px;
  width: 1200px;
  margin: 0 auto;
  height: 50px;
  background: #fff;
  margin-top: 10px;
  padding: 16px;
  margin-bottom: 10px;
}
.filter_data_head .filter_head_title {
  float: left;
}
.filter_data_head .filter_head_img {
  margin-top: 3px;
  margin-right: 6px;
  float: left;
}
.filter_data_head .filter_page,
.filter_data_head .filter_dec {
  float: right;
  margin-left: 10px;
}
.filter_data_head .page_current {
  color: #139EED;
}
/*过滤表格*/
.filter_data {
  width: 1200px;
  background: #fff;
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 16px;
}
.bootstrap-table .text-center {
  vertical-align: middle!important;
}
.bootstrap-table .th-inner {
  color: #333333;
  text-align: center;
}
.bootstrap-table .fixed-table-container {
  border-radius: 0px;
}
.bootstrap-table .pagination-detail {
  color: #999999;
}
.bootstrap-table .page-list .btn {
  padding: 0px 8px;
  color: #666666;
  border-radius: 0px;
}
.bootstrap-table .page-list .btn .page-size {
  color: #666666!important;
}
.bootstrap-table .table {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}
.bootstrap-table .fixed-table-container {
  border-bottom: 0px;
  border-left: 0px;
  border-right: 0px;
}
.bootstrap-table .fixed-table-pagination .pull-right {
  margin-top: 20px!important;
}
.bootstrap-table .fixed-table-pagination .pull-right a {
  padding: 4px 9px;
  border-radius: 0px;
}
.comp-name {
  text-align: left;
  color: #1c95d5;
  vertical-align: middle!important;
}
.red_operation {
  color: #d51c1c;
}
.blue-operation {
  color: #1c95d5;
}
