.company_info {
	background: #fff;
	width: 1200px;
	margin: 0 auto;
	padding: 15px;
	height: 126px;
	display: flex;
	display: -webkit-flex;
	justify-content: flex-start;
	align-items: center;
}
.company_info .logo_box {
	min-width: 150px;
	max-width: 200px;
	height: 100px;
	margin-right: 20px;
	display: flex;
	display: -webkit-flex;
	justify-content: flex-start;
	align-items: center;
}
.company_info .title_box {
	display: flex;
	display: -webkit-flex;
	justify-content: flex-start;
	align-items: center;
}
.company_info .title_box .title {
	font-size: 24px;
	font-weight: bold;
	color: #000000;
}
.company_info .title_box .dotted_1 {
	border: 1px solid #53c500;
	border-radius: 6px;
	color: #53c500;
	font-size: 12px;
	padding: 4px 10px;
	margin-left: 32px;
}
.company_info .title_box .dotted_2 {
	margin-left: 10px;
	border: 1px solid #1e8ed9;
	border-radius: 6px;
	color: #1e8ed9;
	font-size: 12px;
	padding: 4px 10px;
}
.company_info .title_box .dotted_3 {
	margin-left: 10px;
	border: 1px solid #f00;
	border-radius: 6px;
	color: #f00;
	font-size: 12px;
	padding: 4px 10px;
}
.company_info .infos_body .body_li {
	padding-bottom: 1px;
}
.company_info .infos_body .font {
	font-size: 14px;
	font-weight: bold;
	color: #000000;
}
.company_info .infos_body .code {
	font-size: 14px;
	color: #000000;
}
.company_info .infos_body .code_1 {
	width: 120px;
	display: inline-block;
}
.company_info .score_box {
	width: 100px;
	height: 92px;
	margin-left: 126px;
}
.company_info .score_box .score_top {
	height: 28px;
	background: #1e8ed9;
	color: #fff;
	font-size: 16px;
	text-align: center;
	line-height: 28px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}
.company_info .score_box .score_body {
	color: #1e8ed9;
	font-size: 48px;
	line-height: 64px;
	height: 64px;
	text-align: center;
	border-right: 2px solid #1e8ed9;
	border-bottom: 1px solid #1e8ed9;
	border-left: 1px solid #1e8ed9;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}
.company_info .right_box {
	height: 100%;
	margin-left: 130px;
}
.company_info .right_box .time_box {
	height: 18px;
	line-height: 18px;
	font-size: 14px;
}
.company_info .right_box .time_box img {
	margin-top: 2px;
	vertical-align: top;
}
.company_info .right_box .add_yj {
	margin-top: 26px;
	background: #f4716e;
	color: #fff;
	width: 88px;
	height: 26px;
	font-size: 14px;
	line-heigth: 14px;
	padding: 2px 5px;
}
.company_info .right_box .add_yj img {
	vertical-align: top;
	margin-top: 4px;
}
.company_info .right_box .add_yj .font {
	line-height: 14px;
}
.info_types {
	width: 1200px;
	margin: 0 auto;
	background: #fff;
	margin-top: 10px;
	padding: 15px;
}
.info_types .tab_title {
	height: 48px;
	font-size: 16px;
	text-align: center;
	line-height: 48px;
	color: #333333;
	display: flex;
	display: -webkit-flex;
	justify-content: flex-start;
	align-items: center;
	align-items: flex-start;
}
.info_types .tab_title .tab_title_li {
	padding: 0px 10px;
	border-left: 1px solid #dddddd;
	border-top: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
	cursor: pointer;
}
.info_types .tab_title .tab_title_li:hover {
	color: #1e8ed9;
	border-bottom: 0px;
}
.info_types .tab_title .tab_title_line {
	border-bottom: 1px solid #dddddd;
	height: 50px;
	width: 480px;
}
.info_types .tab_title .tab_title_li:nth-child(7) {
	border-right: 1px solid #dddddd;
}
.info_types .tab_title .tab_title_li:nth-child(1) {
	border-bottom: 0px;
	color: #1e8ed9;
}
.info_types .tab_content .tab_content_li {
	display: none;
}
.info_types .tab_content .tab_content_li .tab_hash_li_box {
	display: flex;
	display: -webkit-flex;
	justify-content: flex-start;
	align-items: center;
}
.info_types .tab_content .tab_content_li .tab_hash_li_box a {
	color: #333333;
}
.info_types .tab_content .tab_content_li .tab_hash_li_box .tab_hash_li {
	fong-size: 14px;
	color: #333333;
	padding: 2px 10px;
}
.info_types .tab_content .tab_content_li .tab_hash_li_box .tab_hash_li span {
	color: #1e8ed9;
}
.info_types .tab_content .tab_content_li .tab_hash_li_box .tab_hash_li:nth-child(1) {
	border-bottom: 1px solid #1e8ed9;
}
.info_types .tab_content .tab_content_li:nth-child(1) {
	display: block;
}
.info_types .tab_content .tab_content_body {
	width: 1170px;
	height: 380px;
	margin-top: 26px;
	overflow: hidden;
}
.info_types .tab_content .tab_content_body .tab_content_inner {
	width: 1196px;
	height: 380px;
	padding-right: 26px;
	overflow-x: hidden;
	overflow-y: scroll;
}
.info_types .tab_content .tab_content_body .tab_content_inner .content_box .title {
	height: 32px;
	font-size: 16px;
	font-weight: bold;
	color: #333;
	margin-bottom: 10px;
}
.info_types .tab_content .tab_content_body .tab_content_inner .content_box .title .num {
	font-size: 16px;
	font-weight: bold;
	color: #1e8ed9;
}
.info_types .tab_content .tab_content_body .tab_content_inner .content_box .title .select_1 {
	font-size: 16px;
	font-weight: normal;
	color: #666666;
	width: 120px;
	height: 30px;
	display: inline-block;
	margin-left: 733px;
}
.info_types .tab_content .tab_content_body .tab_content_inner .content_box .title .select_2 {
	font-size: 16px;
	font-weight: normal;
	color: #666666;
	width: 120px;
	height: 30px;
	display: inline-block;
	margin-left: 20px;
}
.info_types .tab_content .tab_content_body .tab_content_inner .content_box .tab_table {
	border: 1px solid #cccccc;
}
.info_types .tab_content .tab_content_body .tab_content_inner .content_box .tab_table td {
	border: 1px solid #cccccc;
}
.info_types .tab_content .tab_content_body .tab_content_inner .content_box .tab_table td:nth-child(1) {
	width: 290px;
	background: #f6f8fa;
	color: #666666;
	font-size: 14px;
	height: 38px;
}
.info_types .tab_content .tab_content_body .tab_content_inner .content_box .tab_table td:nth-child(2) {
	width: 292px;
	background: #fff;
	color: #666666;
	font-size: 14px;
	height: 38px;
}
.info_types .tab_content .tab_content_body .tab_content_inner .content_box .tab_table td:nth-child(3) {
	width: 256px;
	background: #f6f8fa;
	color: #666666;
	font-size: 14px;
	height: 38px;
}
.info_types .tab_content .tab_content_body .tab_content_inner .content_box .tab_table td:nth-child(4) {
	width: 324px;
	background: #fff;
	color: #666666;
	font-size: 14px;
	height: 38px;
}
.info_types .tab_content .tab_content_body .tab_content_inner .content_box .tab_table_2 {
	border: 1px solid #cccccc;
}
.info_types .tab_content .tab_content_body .tab_content_inner .content_box .tab_table_2 td {
	border: 1px solid #cccccc;
	text-align: center;
	vertical-align: middle;
	padding: 20px 10px;
}
.info_types .tab_content .tab_content_body .tab_content_inner .content_box .tab_table_2 td:nth-child(1) {
	width: 95px;
}
.info_types .tab_content .tab_content_body .tab_content_inner .content_box .tab_table_2 td:nth-child(2) {
	width: 168px;
}
.info_types .tab_content .tab_content_body .tab_content_inner .content_box .tab_table_2 td:nth-child(3) {
	width: 222px;
}
.info_types .tab_content .tab_content_body .tab_content_inner .content_box .tab_table_2 td:nth-child(4) {
	width: 334px;
}
.info_types .tab_content .tab_content_body .tab_content_inner .content_box .tab_table_2 td:nth-child(5) {
	width: 334px;
}
.info_types .tab_content .tab_content_body .tab_content_inner .content_box .tab_table_2 tr:nth-child(1) td {
	padding: 0px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: #666666;
	font-size: 14px;
	background: #f6f8fa;
}
.info_types .tab_content .tab_content_body .tab_content_inner .content_box .tab_table_3 {
	border: 1px solid #cccccc;
}
.info_types .tab_content .tab_content_body .tab_content_inner .content_box .tab_table_3 td {
	border: 1px solid #cccccc;
	text-align: center;
	vertical-align: middle;
}
.info_types .tab_content .tab_content_body .tab_content_inner .content_box .tab_table_3 td:nth-child(1) {
	width: 90px;
}
.info_types .tab_content .tab_content_body .tab_content_inner .content_box .tab_table_3 td:nth-child(2) {
	width: 384px;
}
.info_types .tab_content .tab_content_body .tab_content_inner .content_box .tab_table_3 td:nth-child(3) {
	width: 148px;
}
.info_types .tab_content .tab_content_body .tab_content_inner .content_box .tab_table_3 td:nth-child(4) {
	width: 148px;
}
.info_types .tab_content .tab_content_body .tab_content_inner .content_box .tab_table_3 td:nth-child(5) {
	width: 148px;
}
.info_types .tab_content .tab_content_body .tab_content_inner .content_box .tab_table_3 td:nth-child(6) {
	width: 208px;
}
.info_types .tab_content .tab_content_body .tab_content_inner .content_box .tab_table_3 tr:nth-child(1) td {
	padding: 0px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: #666666;
	font-size: 14px;
	background: #f6f8fa;
}
.info_types .tab_content .tab_content_body .tab_content_inner .content_box .tab_div {
	display: flex;
	display: -webkit-flex;
	justify-content: flex-start;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 20px;
}
.info_types .tab_content .tab_content_body .tab_content_inner .content_box .tab_div .tab_div_li {
	display: flex;
	display: -webkit-flex;
	justify-content: flex-start;
	align-items: center;
}
.info_types .tab_content .tab_content_body .tab_content_inner .content_box .tab_div .tab_div_li .div_li_right {
	margin-left: 14px;
	text-align: center;
}
.info_types .tab_content .tab_content_body .tab_content_inner .content_box .tab_div .tab_div_li .div_li_right h5 {
	font-weight: bold;
	font-size: 16px;
	color: #333;
}
.info_types .tab_content .tab_content_body .tab_content_inner .content_box .tab_div .tab_div_li .div_li_right a {
	width: 100%;
	text-align: center;
}
.info_types .tab_content .tab_content_body .tab_content_inner .content_box .tab_div .tab_div_li:nth-child(1) {
	margin-left: 20px;
}
.info_types .tab_content .tab_content_body .tab_content_inner .content_box .power_info_box {
	display: flex;
	display: -webkit-flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
}
.info_types .tab_content .tab_content_body .tab_content_inner .content_box .power_info_box .power_info {
	width: 464px;
	height: 40px;
	border: 1px solid #dddddd;
	margin-bottom: 36px;
	display: flex;
	display: -webkit-flex;
	justify-content: flex-start;
	align-items: center;
}
.info_types .tab_content .tab_content_body .tab_content_inner .content_box .power_info_box .power_info .power {
	width: 230px;
	height: 38px;
	text-align: center;
	line-height: 40px;
	border-right: 1px solid #dddddd;
	background: #eff7fc;
}
.info_types .tab_content .tab_content_body .tab_content_inner .content_box .power_info_box .power_info .name {
	width: 232px;
	text-align: center;
	line-height: 40px;
}
.info_types .tab_content .tab_content_body .tab_content_inner .content_box .power_info_box .power_info:nth-child(even) {
	margin-left: 178px;
}
.info_types .tab_content .tab_content_body .tab_content_inner .content_box .power_info_box .power_info:nth-child(odd) {
	margin-left: 20px;
}
.info_types .tab_content_li .tab_content_body .table-style {
	width: 100%;
	table-layout: fixed
}
.info_types .tab_content_li .tab_content_body .table-style th, .info_types .tab_content_li .tab_content_body .table-style td {
	padding: 0 10px;
	line-height: normal;
	text-align: center;
	font-size: 16px;
	color: #666;
}
.info_types .tab_content_li .tab_content_body .table-style th {
	height: 50px;
	background-color: #f6f8fa;
	font-weight: normal;
	vertical-align: middle;
}
.info_types .tab_content_li .tab_content_body .table-style td {
	height: 70px;
	vertical-align: middle;
}
.info_types .tab_content_li .tab_content_body .table-style td:nth-child(odd) {
	background-color: #ecf5fb;
}
.info_types .tab_content .tab_content_body .tab_content_inner .content_box .table-style2 {
	border: 1px solid #cccccc;
}
.info_types .tab_content .tab_content_body .tab_content_inner .content_box .table-style2 td {
	border: 1px solid #cccccc;
	text-align: center;
	vertical-align: middle;
}
.info_types .tab_content .tab_content_body .tab_content_inner .content_box .table-style2 tr:nth-child(1) td {
	padding: 0px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: #666666;
	font-size: 14px;
	background: #f6f8fa;
}
.info_types .tab_content .tab_content_body .tab_content_inner .content_box .table-style3 tr:nth-child(1) td {
	background: #f5f8fa;
	font-weight: bold;
	font-size: 16px;
	color: #78899f;
}
.info_types .tab_content .tab_content_body .tab_content_inner .content_box .table-style3 td {
	font-size: 16px;
}
.info_types .tab_content .tab_content_body .tab_content_inner .content_box .table-style2 td.td-left {
	text-align: left;
}
